.menuBox {
    position: relative;
    background-color: #d4d8db;
    height: 60px;
}

.menuBox>div {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
}
.menuBox>div>a{
    margin-right: 30px;
    padding: 5px 10px;
    text-decoration: none;
    color:black;
    font-size: 24px;
}