.skill_category{
    border: 1px solid #f2f2f2;
    margin-top: 20px;
    transition: 0.8s;
}
.skill_category:hover{
    transition: 0.8s;
}


.skillsA {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 18px;
}
.skillsA:hover{
    animation: light 2s linear infinite;
}
@keyframes light {
    0%,100%{
        box-shadow: none;
    }
    50%{
box-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.4),
        0 0 40px rgba(255, 255, 255, 0.3),
        0 0 80px rgba(255, 255, 255, 0.1);
    }
}
.col-12.col-sm-6.p-5>h4{
    color:white;
}
.skillsA>div {
    width: 50%;
    padding: 5%;
    display:flex;
    align-items: flex-start;
}
.skillsA>div>img{
    width: 30%;
    height: auto;
    padding: 5px;
    margin-bottom:5px ;

}
.skillsA>div>div{
    text-align: left;
    width: 70%;
    padding: 5px;
    margin-bottom:5px ;
}
